In [5]:

import easyocr
import spacy


import numpy as np

In [6]:
IMAGEPATH='bill.jpg'

In [7]:
reader=easyocr.Reader(['en'],gpu=False)
result=reader.readtext(IMAGEPATH)
result

Using CPU. Note: This module is much faster with a GPU.

[([[778, 58], [882, 58], [882, 106], [778, 106]], 'Qty', 0.7234664148887524),
 ([[139, 173], [344, 173], [344, 233], [139, 233]],
  'Paneer',
  0.9961122407731406),
 ([[363, 181], [529, 181], [529, 229], [363, 229]],
  'Tikka',
  0.9175346713644764),
 ([[100, 364], [255, 364], [255, 418], [100, 418]],
  'Roast',
  0.9999468477543129),
 ([[274, 372], [458, 372], [458, 421], [274, 421]],
  'Garlic',
  0.9518933679406535),
 ([[477, 370], [607, 370], [607, 421], [477, 421]],
  '15CI',
  0.4928574860095978),
 ([[714, 380], [744, 380], [744, 416], [714, 416]], '1', 0.9999808073964722),
 ([[102, 430], [458, 430], [458, 485], [102, 485]],
  'Toast-Cheese',
  0.6909820872205539),
 ([[479, 439], [631, 439], [631, 483], [479, 483]],
  'Slice',
  0.9694915733887821),
 ([[714, 444], [744, 444], [744, 482], [714, 482]], '1', 0.9999954700521272),
 ([[101, 495], [314, 495], [314, 546], [101, 546]],
  'Lettuce',
  0.9111364160557017),
 ([[714, 504], [744, 504], [744, 546], [714, 546]], '1', 0.999985933353301),
 ([[98, 558], [282, 558], [282, 608], [98, 608]],
  'Tolato',
  0.8230478066387579),
 ([[714, 564], [746, 564], [746, 612], [714, 612]], '1', 0.9999873638552259),
 ([[95, 621], [342, 621], [342, 669], [95, 669]],
  'Cucumber',
  0.997707850846134),
 ([[714, 626], [746, 626], [746, 672], [714, 672]], '1', 0.9999806881883302),
 ([[92, 684], [282, 684], [282, 732], [92, 732]],
  'Pickle',
  0.9943741843855006),
 ([[713, 689], [749, 689], [749, 735], [713, 735]], '1', 0.9999978542339392),
 ([[92, 750], [344, 750], [344, 806], [92, 806]],
  'Capsicum',
  0.9509358911868134),
 ([[716, 756], [746, 756], [746, 800], [716, 800]], '1', 0.9999914169495696),
 ([[90, 814], [280, 814], [280, 862], [90, 862]],
  'Olives',
  0.9440255772214958),
 ([[716, 818], [748, 818], [748, 864], [716, 864]], '1', 0.9999961853063724),
 ([[88, 876], [369, 876], [369, 939], [88, 939]],
  'Jalapenos',
  0.9987449681052379),
 ([[716, 880], [748, 880], [748, 930], [716, 930]], '1', 0.9999876022723129),
 ([[89, 942], [218, 942], [218, 993], [89, 993]], 'Salt', 0.9969683289527893),
 ([[246, 952], [278, 952], [278, 988], [246, 988]], '6', 0.3144191805049559),
 ([[295, 942], [489, 942], [489, 1003], [295, 1003]],
  'Pepper',
  0.8001133612498296),
 ([[716, 944], [746, 944], [746, 986], [716, 986]], '1', 0.9999901056534419),
 ([[85, 1005], [370, 1005], [370, 1066], [85, 1066]],
  'Mint Mayo',
  0.9913862984305595),
 ([[716, 1010], [748, 1010], [748, 1054], [716, 1054]],
  '1',
  0.3973925606854479),
 ([[84, 1074], [191, 1074], [191, 1127], [84, 1127]],
  'Red',
  0.9999938745316418),
 ([[208, 1072], [392, 1072], [392, 1120], [208, 1120]],
  'Chilli',
  0.9970110605959293),
 ([[421, 1077], [573, 1077], [573, 1117], [421, 1117]],
  'Sauce',
  0.6704833273150556),
 ([[716, 1076], [746, 1076], [746, 1118], [716, 1118]],
  '1',
  0.9999918937847383),
 ([[86, 1140], [339, 1140], [339, 1193], [86, 1193]],
  'Soutwest',
  0.9992733210977299),
 ([[358, 1136], [604, 1136], [604, 1192], [358, 1192]],
  'Chipotle',
  0.7725465433564948),
 ([[718, 1144], [748, 1144], [748, 1182], [718, 1182]],
  '1',
  0.999985694936413),
 ([[87, 1213], [275, 1213], [275, 1257], [87, 1257]],
  'Cheese',
  0.9999398958630443),
 ([[296, 1202], [456, 1202], [456, 1250], [296, 1250]],
  'Slice',
  0.5336623691175602),
 ([[474, 1200], [632, 1200], [632, 1248], [474, 1248]],
  'Addl5',
  0.8819084006084639),
 ([[716, 1208], [748, 1208], [748, 1246], [716, 1246]],
  '1',
  0.9999943971712391),
 ([[88.17800506347321, 30.068030380839282],
   [223.94679567682425, 54.27253004752584],
   [212.82199493652678, 99.93196961916072],
   [78.05320432317573, 75.72746995247415]],
  'Ilem',
  0.4166506230831146),
 ([[84.9266873708001, 226.09678053940056],
   [218.8581726560529, 243.7031526181257],
   [209.0733126291999, 292.9032194605994],
   [76.14182734394711, 275.29684738187433]],
  '15cm',
  0.9303392171859741)]

In [10]:
result[0] [1]

'Qty'

In [8]:
text=" "
for detection in result:
    text+='  '+detection[1]
    
print(text)

   Qty  Paneer  Tikka  Roast  Garlic  15CI  1  Toast-Cheese  Slice  1  Lettuce  1  Tolato  1  Cucumber  1  Pickle  1  Capsicum  1  Olives  1  Jalapenos  1  Salt  6  Pepper  1  Mint Mayo  1  Red  Chilli  Sauce  1  Soutwest  Chipotle  1  Cheese  Slice  Addl5  1  Ilem  15cm

In [85]:
print (text[1])
print (text)

   Elon  musk  Twitter  Paris  5/6/1982|

In [9]:
nlp=spacy.load("en_core_web_trf")

In [ ]:
doc=nlp("Paneer  Tikka  Roast  Garlic  15CI  1  Toast-Cheese  Slice  1  Lettuce  1  Tolato  1  Cucumber  1  Pickle  1  Capsicum  1  Olives  1  Jalapenos  1  Salt  6  Pepper  1  Mint Mayo  1  Red  Chilli  Sauce  1  Soutwest  Chipotle  1  Cheese  Slice  Addl5  1  Ilem  ")
items=[]
quantity=[]
for token in doc:
    # print (token ,'|',token.pos_)
    if token.pos_=='PROPN':
        items.append(token)
print(items)        
for token in doc.ents:
    if token.label_=='CARDINAL':
        quantity.append(token)
print (quantity )

In [16]:
import pandas as pd
n="Name"
a="Age"
g="Gender"
d="Day"
posts={
    n:[values[0]],
    a:[values[1]],
    g:[values [2]],
}

print(posts)

{'Name': ['1'], 'Age': ['1'], 'Gender': ['1']}

In [34]:
df = pd.DataFrame(posts)
df

         Name    Age     Gender
0  Elon  musk  Paris  5/6/1982|

In [35]:
df.to_csv('uss.csv',mode= 'a',header=False,index=False)

In [36]:
pd.read_csv('uss.csv')

   Unnamed: 0    Name        Age Gender  Day
0           0   Smith          8      m  mon
1           1  Adiyta          5      f  tue
2           2     Jay          2      t  wed
3  Elon  musk   Paris  5/6/1982|    NaN  NaN

In [ ]:
patterns = [
    {"label": "FOOD", "pattern": "Paneer  Tikka "},
    {"label": "FOOD", "pattern": "Roast  Garlic"},
    {"label": "FOOD", "pattern": "Toast-Cheese  Slice"},
    {"label": "FOOD", "pattern": "Lettuce"},
    {"label": "FOOD", "pattern": "Tolato"},
    {"label": "FOOD", "pattern": "McChicken"},
    {"label": "FOOD", "pattern": "Cucumber"},
    {"label": "FOOD", "pattern": "Chicken McNuggets"},
    {"label": "FOOD", "pattern": "Buttermilk Crispy Chicken Sandwich"},
    {"label": "FOOD", "pattern": "Egg McMuffin"},
    {"label": "FOOD", "pattern": "Sausage McMuffin"},
    {"label": "FOOD", "pattern": "Sausage McMuffin with Egg"},
    {"label": "FOOD", "pattern": "Bacon, Egg & Cheese Biscuit"},
    {"label": "FOOD", "pattern": "Hotcakes"},
    {"label": "FOOD", "pattern": "Side Salad"},
    {"label": "FOOD", "pattern": "Bacon Ranch Salad with Buttermilk Crispy Chicken"},
    {"label": "FOOD", "pattern": "French Fries"},
    {"label": "FOOD", "pattern": "Mozzarella Sticks"},
    {"label": "FOOD", "pattern": "Apple Slices"},
    {"label": "FOOD", "pattern": "Soft Drink"},
    {"label": "FOOD", "pattern": "Iced Coffee"},
    {"label": "FOOD", "pattern": "Hot Coffee"},
    {"label": "FOOD", "pattern": "Milkshake"},
    {"label": "FOOD", "pattern": "Bottled Water"},
    {"label": "FOOD", "pattern": "Apple Pie"},
    {"label": "FOOD", "pattern": "McFlurry"},
    {"label": "FOOD", "pattern": "Sundae"},
    {"label": "FOOD", "pattern": "Chocolate Chip Cookie"},
    {"label": "FOOD", "pattern": "Big Mac Meal"},
    {"label": "FOOD", "pattern": "Quarter Pounder with Cheese Meal"},
    {"label": "FOOD", "pattern": "10-piece Chicken McNuggets Meal"},
    {"label": "FOOD", "pattern": "Filet-O-Fish Meal"},
]