In [4]:
import pandas as pd
import numpy as np
import easyocr
import spacy

In [10]:
IMAGEPATH='C:/Users/SMITH/Pictures/Screenshots/nersample2.png'

In [11]:
reader=easyocr.Reader(['en'],gpu=False)
result=reader.readtext(IMAGEPATH)

Using CPU. Note: This module is much faster with a GPU.

In [12]:
result

[([[2, 7], [118, 7], [118, 33], [2, 33]], 'los angeles', 0.9600696672886906),
 ([[3, 31], [79, 31], [79, 51], [3, 51]], 'Vietnam', 0.9987961165652888),
 ([[5, 55], [59, 55], [59, 73], [5, 73]], 'roads', 0.9999868319220623),
 ([[3, 74], [90, 74], [90, 98], [3, 98]], 'partners', 0.7699044745828533),
 ([[5, 99], [49, 99], [49, 117], [5, 117]], 'love', 0.9991627335548401),
 ([[3, 119], [69, 119], [69, 139], [3, 139]], '5/8/20', 0.9999712535795127)]

In [16]:
result[0][2]

0.9600696672886906

In [17]:
text=" "
for detection in result:
    text+='  '+detection[1]

In [18]:
print(text)

   los angeles  Vietnam  roads  partners  love  5/8/20

In [19]:
nlp=spacy.load("en_core_web_trf")

In [20]:
values=[]
doc=nlp(text)
print (doc)

   los angeles  Vietnam  roads  partners  love  5/8/20

In [21]:
for ent in doc.ents:
    print(ent.text,'|',ent.label_)
    values.append(ent.text)

los angeles  Vietnam   | FAC
5/8/20 | DATE

In [32]:
name=values[0]
surname=values[1]

In [36]:
n="Name"
s="surname"
g="gender"

posts={
    n:[values[0]],
    s:[values[1]],
}

In [37]:
print(posts)

{'Name': ['los angeles  Vietnam  '], 'surname': ['5/8/20']}

In [38]:
df=pd.DataFrame(posts)

In [39]:
df

                     Name surname
0  los angeles  Vietnam    5/8/20

In [41]:
df.to_csv('new.csv')

In [42]:
pd.read_csv('new.csv')

   Unnamed: 0                    Name surname
0           0  los angeles  Vietnam    5/8/20